body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 0px;
  gap: 0px;
  height: 100vh;
  background-color: #EEEEEE;
  color: #333333;
}

header {
  padding: 10px 0px 10px 50px;
  display: flex;
  background-color: white;
  border-bottom: solid 1px #333333;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
}

#display {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restart-instructions {
  margin: 0px;
  transform: scale(0);
  transition: 0.3s;
}

#restart-instructions.visible {
  transform: scale(1);
}

.board {
  justify-self: center;
  align-self: start;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: rgb(0 0 0 / 24%) 0px 1px 2px;
}

.board button {
  border: 0;
  width: max(100px, 10vw);
  aspect-ratio: 1;
  font-size: 3rem;
  background-color: transparent;
  color: #333333;
  transition: 0.5s;
}

.board :nth-child(2),
.board :nth-child(5),
.board :nth-child(8) {
  border-left: solid 1px#333333;
  border-right: solid 1px#333333;
}

.board :nth-child(4),
.board :nth-child(5),
.board :nth-child(6) {
  border-top: solid 1px#333333;
  border-bottom: solid 1px#333333;
}

.board button.shrink {
  color: rgb(0 0 0 / 24%);
  font-size: 2rem;
}